{
    "Google Chrome": [
        {"title": "🔴", "body": "こそぎ(心削ぎ)", "volume": 1.3, "device": "電撃", "text": "{from}"},

        {"title": "YouTube", "body": "ライブ配信が始まります", "speaker": 113, "text": "{from}"},
        {"title": "🔴", "body": "ライブ配信中", "speaker": 113, "text": "{title} {from}"},

        {"text": "{from} {title}"}
    ]
}
